{% block content %}
<div class="movie">
  <h1>{{ movie.title }}</h1>
  <h3>
{% if movie.get_directors|length == 1 %}
  Directed by {% for director in movie.get_directors %}{{ director }}{% endfor %}
{% elif movie.get_directors|length == 2 %}
  Directed by {{ movie.get_directors|join:" & " }}
{% else %}
  Directed by {{ movie.get_directors|join:", " }}
{% endif %}
  </h3>
    <p>
      {{ movie.year }} | {{ movie.run_time }} | {{ movie.aspect_ratio }}
    </p>
  <table>
{% if movie.get_writers|length > 0 %}
    <tr>
      <td>Written by</td>
      <td>
{% if movie.get_writers|length == 1 %}
  {% for writer in movie.get_writers  %}{{ writer }}{% endfor %}
{% else %}
  {{ movie.get_writers|join:", " }}
{% endif %}
      </td>
    </tr>
{% endif %}
{% if movie.get_dps|length > 0 %}
    <tr>
{% if movie.get_dps|length == 1 %}
      <td>Director of Photography</td>
      <td>{% for dp in movie.get_dps  %}{{ dp }}{% endfor %}</td>
{% else %}
      <td>Directors of Photography</td>
      <td>{{ movie.get_dps|join:", " }}</td>
{% endif %}
    </tr>
{% endif %}
{% if movie.get_editors|length > 0 %}
    <tr>
      <td>Edited by</td>
      <td>
{% if movie.get_editors|length == 1 %}
  {% for editor in movie.get_editors %}{{ editor }}{% endfor %}
{% else %}
  {{ movie.get_editors|join:", " }}
{% endif %}
      </td>
    </tr>
{% endif %}
{% if movie.get_prod_designers|length > 0 %}
    <tr>
      <td>Production Designed by</td>
      <td>
{% if movie.get_prod_designers|length == 1 %}
  {% for pd in movie.get_prod_designers %}{{ pd }}{% endfor %}
{% else %}
  {{ movie.get_prod_designers|join:", " }}
{% endif %}
      </td>
    </tr>
{% endif %}
{% if movie.get_composers|length > 0 %}
    <tr>
      <td>Music Composed by</td>
      <td>
{% if movie.get_composers|length == 1 %}
  {% for composer in movie.get_composers %}{{ composer }}{% endfor %}
{% else %}
  {{ movie.get_composers|join:", " }}
{% endif %}
      </td>
    </tr>
{% endif %}
  </table>
</div>
{% endblock content %}